* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

body{
    height: 1024px;
    background-image: linear-gradient(rgb(80, 39, 80), gray) ;
}
body h1{
    padding-top: 10em;
    text-align: center;
    color: white;
}
#contact-form{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    background-color: rgba(255, 255, 255, 0.7);
    width: 300px;
    height: 200px;
    /* opacity: 0.7; */
    border-radius: 5px;
}
.form-example{
    padding-top: 1.5em;
    width: auto;
    
}
#email{
    background-color: white;
}
.btn{
    width: 10em;
    height: 2em;
    padding: 5px;
    background-color: rgb(245, 46, 46);
    text-decoration: none;
    border: none;
    border-radius: 5px;
    color: white;
}
nav {
  background-color: #495057;
  /*margin: 5em;/*em reference value of css relative to font size of the element
    if font size is 10px then 5em is 5 x 10 px*/
    width: 100vw;
    position: fixed;
    
    /* box-shadow: 2px 2px 2px #8f8f8f; */
    
}
nav li{
    display: inline-flex;
    padding: 1em;
}
.nav-links{
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.nav-links:hover{
    color: rgb(4, 179, 179);
}